:root {
  --white: #f6f8f7;
  --grey:  #494a5c;
  --black: #2a292f;
  --blue:  #6aaeca;
  --red:   #e88e66;
}

/* CSS reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

* {
  margin: 0;
  font-size: 10px;
}

/* styles */
.container {
  display: flex;


  font-family: 'Inter', sans-serif;
  background-color: var(--white);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  padding: 20px;
}

header p {
  font-weight: 500;
  font-size: 3rem;
  color: var(--grey);
}

header ul {
  display: flex;
  gap: 10px;
}

header li {
  list-style: none;
}

header a {
  text-decoration: none;


  font-size: 2rem;
}

header a:hover {
  text-decoration: underline;
}

main {

}

#individual_contact {
  display: flex;
  gap: 20px;
  color: var(--black);
  font-weight: 200;
  padding: 20px;
}

#individual_contact img {
  max-width: 200px;
}

#individual_contact h1 {
  font-size: 2.5rem;
  font-weight: 500;
}

#individual_contact p {
  font-size: 2rem;
  font-weight: 500;
}

#individual_contact span {
  font-size: 3rem;
  margin: 5px;
  background-color: var(--blue);
  height: 3rem;
  border-radius: 50px;
}

#display_all_contacts {
  display: flex;
  flex-grow: 0;
  gap: 20px;
  padding: 20px;
}

#display_all_contacts div {
  display: flex;
  flex-basis: auto;
  height: 200px;
  background-color: var(--red);
  border-radius: 5px;
  padding: 10px;
  align-items: center;
}

#display_all_contacts img {
  height: 50%;
  margin: 10px;
}

#display_all_contacts p {
  font-size: 2rem;
  font-weight: 500;
  color: var(--black);
}

footer {
  height: 5rem;
  display: flex;
  justify-content: center;
}

footer p {
  font-weight: 500;
  font-size: 1.6rem;
  color: var(--grey);
  align-self: center;
}
